// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


.profile
  width: 100px
  height: 100px
  border-radius: 150px

.small
  font-size: 13px
  margin: 0 0 .5em 0
  text-align: left

.nice-table
  width: 100%
  border-collapse: collapse
  border-spacing: 0px;
  text-align: left
  vertical-align: top
  background: #f5f5f5
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
  line-height: 1.2em


.nice-table
  th
    font-size: .7em
    padding: .2em;
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-bottom: none;

.nice-table
  td
    border: 1px solid rgba(0, 0, 0, 0.2)
    font-size: .7em
    padding: .2em .4em .2em .4em
    vertical-align: top
