doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Intro To Engagement Engineering

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Intro To Engagement Engineering
        h2 May 2015
        p.small <a href="http://git.io/vTfbN">http://git.io/vTfbN</a>

      section
        h2.bullet Our Team's Key Objectives
        ul
          li Support Brand & The PMM Team With Technical Expertise.
          li Provide technical services for campaigns, websites and platforms.
          li Develop solutions that showcase the best of open web technologies.
          li Foster community based participation in our work.
          li Uphold the values outlined in the Manifesto.


      section
        h2.bullet How We Measure Success 
        ul
          li We are a service team. Most of our goals are inherited from other team's goals.
          li Example: PMM wants to increase Android downloads 5.6% -- We implement a page in support of that goal.
          li Internally we focus on:
          ul
            li Getting projects built and out the door.
            li Providing innovative technical solutions, and serving as technical advisors.
            li Technical performance of our code and systems.
            li Enabling participation from the community on our projects.
            li Evolving our process.

      section
        h2 Our Team

      section
        img.profile(src="images/craigcook.jpg")
        h2 Craig Cook
        p Front End Web Developer
        p San Francisco: UTC -7
        p IRC: craigcook

      section
        img.profile(src="images/agibson.jpg")
        h2 Alex Gibson
        p Front End Web Developer
        p UK: UTC +1
        p IRC: agibson 

       section
        img.profile(src="images/giorgos.jpg")
        h2 Giorgos Logiotatidis
        p Web Developer
        p Greece: UTC +1
        p IRC: giorgos  

       section
        img.profile(src="images/pmac.jpg")
        h2 Paul McLanahan
        p Senior Web Developer
        p USA Atlanta: UTC -4
        p IRC: pmac  

       section
        img.profile(src="images/jmize.jpg")
        h2 Josh Mize
        p Senior Web Developer
        p USA Tulsa: UTC -5
        p IRC: jgmize                   

       section
        img.profile(src="images/schalk.jpg")
        h2 Schalk Neethling
        p Front End Web Developer
        p South Africa: UTC +2
        p IRC: espressive   

       section
        img.profile(src="images/sternthal.jpg")
        h2 Benjamin Sternthal
        p Web Development Manager
        p USA Portland: UTC -7
        p IRC: bensternthal   

      section
        h2 Long Term Strategic Contractors
        h3 Equal Parts Creative
        h3 Silver Orange

      section
        h2.bullet What We Do . . .
        ul
          li Websites (mozilla.org, mobilepartners.mozilla.org)
          li Services (basket, snippets)

      section
        p.small
         | affiliates.mozilla.org
        p.small
         | basket.mozilla.com
        p.small
         | careers.mozilla.org
        p.small
         | firefoxflicks.mozilla.org
        p.small
         | masterfirefoxos.mozilla.org
        p.small
         | mobilepartners.mozilla.org
        p.small
         | mozilla.org
        p.small
         | mozillalabs.com
        p.small
         | mozillians.org
        p.small
         | reps.mozilla.org
        p.small
         | shapeoftheweb.com
        p.small
         | snippets.mozilla.com
        p.small
         | webwewant.mozilla.org


      section
        h2 How We Do It

      section
        h2 Key Processes
        ul
          li Mix of Kanban & Agile Sprints
          li Perhaps you should read my <a href="https://blog.mozilla.org/webdev/2013/06/28/kanban-web-productions-lessons-learned/">blog post</a>.
          li Creative Process
            ul
              li Currently: PSD -> Revision -> PSD -> Code -> Done
              li Moving to Prototype based iteration.

      section
        h2 Key Tools
        p.small
         | <a href="">clearly.io</a> - whose on what?
        p.small
         | <a href="">bugzilla</a> - what are we doing?         
        p.small
         | <a href="">kanbanery</a> - when are we doing it?
        p.small
         | <a href="">github</a> - code, all public all the time (mostly)
        p.small
         | <a href="">readthedocs</a> - documentation
        p.small
         | <a href="">wikimo</a> - documentation         
        p.small
         | <a href="">new relic</a> - health of applications & performance monitoring
        p.small
         |  <a href="">travis</a> & <a href="">jenkins</a> continuous integration
        p.small
         | <a href="">google analytics</a> - traffic
        p.small
         | <a href="">irc</a> - communication, bots!

      section
        h2.bullet Our Stack
        ul
          li Infra - Currently WebOps, Mozilla Hosted
          li Infra -  Moving Towards Docker, Deis, Heroku and AWS
          li Perhaps you should read our <a href="https://docs.google.com/document/d/13VLzaYq6-cJfFhoGDTA4qYZ4X9E4KhM6f9UHnRuB2MM/edit">roadmap</a>. 
          li Code
            ul The Usual Suspects Plus . . .
              li Python, Django, Sugardough - Backend
              li Node - automation, minification, testing

      section
        h2.bullet Folks We Rely On
        ul
          li WebOps
          li UX
          li Program & Project Managers
          li L10N
          li WebQA
          li Creative
          li Growth Team
          li The Internal Mozilla WebDev Community
          li Contributors


      section
        h2.bullet Q1 Highlights
          ul
            li Firefox Hello - /whatsnew / firstrun / Onboarding
            li Android What's New
            li Everything From Jennifer Bertsch's Slides :)
            li Materfirefox - launch and proof of concept for docker and deis.
            li Shape Of The Web 
            li Spring Campaign

      section
        h2.bullet Q1 Takeaways
          ul
            li Spring campaign plan was not in sync with the reality of FF product development.
            li The Above --> It Rolls Downhill
            li L10N - we are stressing that community. It's not good.
            li WebDev Across Org In Flux - Move to Cloud - Folks Developing Multiple Solution.
            li WebOps challenged, high turnover, resource constrained.
            li Shape of The Web - much stricter guidance and oversight needed when working with 3rd parties.
            li Engagement engineering benefits from prioritizing engineering goals alongside marketing goals.

      section
        h2.bullet Q2 Overview
          ul
            li Get Spring Campaign Out The Door!
            li Everything From Jenn Bertsch's Slides :)
            li Finalize Infra plan and begin rollout with IT and Cloud Services.
            li Plan for PHX1 Exit, this could be big.
            li Provide expertise for CRM and Snippet projects.
            li Pay Down Technical Debt - Mozilla.org.
            li Roll Out Front End Testing Framework.  
            li Prototyping process with creative outlined.      

      section
        h2.bullet Challenges
          ul
            li Brand has the fewest number of technical resources of any WebDev team at Mozilla. No staff ops positions.
            li PMMS - Communication & Planning.
            li Perception that we are focusing less on community and Mozilla values.
            li Sacrificing quality for speed.

      section
        h2.bullet Asks
          ul
            li Dive into spring campaign & product development -- apply lessons to fall campaign.
            li Work with L10N team on improving things.
            li Empower individuals to take ownership and make decisions. Push decision making "out" not "up". 
                          
      section
        h2 That is all.

    script(src='build/build.js')
