doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Intro To Engagement Engineering

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Intro To Engagement Engineering
        h2 May 2015
        p.small <a href="http://git.io/vTfbN">http://git.io/vTfbN</a>
        p.small (use arrow keys to navigate)

      section
        h2.bullet Our Team's Key Objectives
        ul
          li Support Brand & the PMM team with technical expertise.
          li Provide technical services for campaigns, websites and platforms.
          li Develop solutions that showcase the best of open web technologies.
          li Foster community based participation in our work.
          li Uphold the values outlined in the Manifesto.

      section
        h2 The Team

      section
        img.profile(src="images/craigcook.jpg")
        h2 Craig Cook
        p Front End Web Developer
        p San Francisco: UTC -7
        p IRC: craigcook

      section
        img.profile(src="images/agibson.jpg")
        h2 Alex Gibson
        p Front End Web Developer
        p UK: UTC +1
        p IRC: agibson 

       section
        img.profile(src="images/giorgos.jpg")
        h2 Giorgos Logiotatidis
        p Web Developer
        p Greece: UTC +1
        p IRC: giorgos  

       section
        img.profile(src="images/pmac.jpg")
        h2 Paul McLanahan
        p Senior Web Developer
        p USA Atlanta: UTC -4
        p IRC: pmac  

       section
        img.profile(src="images/jmize.jpg")
        h2 Josh Mize
        p Senior Web Developer
        p USA Tulsa: UTC -5
        p IRC: jgmize                   

       section
        img.profile(src="images/schalk.jpg")
        h2 Schalk Neethling
        p Front End Web Developer
        p South Africa: UTC +2
        p IRC: espressive   

       section
        img.profile(src="images/sternthal.jpg")
        h2 Benjamin Sternthal
        p Web Development Manager
        p USA Portland: UTC -7
        p IRC: bensternthal   

      section
        h2 Long Term Strategic Contractors
        h3 Equal Parts Creative
        h3 Silver Orange

      section
        h2.bullet How We Measure Success 
        ul
          li We are a service team. Most of our goals are inherited from other team's goals.
          li Example: PMM wants to increase Android downloads 5.6% -- We implement a page in support of that goal.
          li Internally we focus on:
          ul
            li Getting projects built and out the door.
            li Providing innovative technical solutions and serving as technical advisors.
            li Performance of our code and systems.
            li Enabling participation from the community on our projects.
            li Evolving our process.

      section
        h2.bullet What We Do
        ul
          li Websites (mozilla.org, mobilepartners.mozilla.org).
          li Services (basket, snippets).
          li Support / Maintenance / Feature Development for the above.

      section
        p.small
         | affiliates.mozilla.org
        p.small
         | basket.mozilla.com
        p.small
         | careers.mozilla.org
        p.small
         | firefoxflicks.mozilla.org
        p.small
         | masterfirefoxos.mozilla.org
        p.small
         | mobilepartners.mozilla.org
        p.small
         | mozilla.org
        p.small
         | mozillalabs.com
        p.small
         | mozillians.org
        p.small
         | reps.mozilla.org
        p.small
         | shapeoftheweb.com
        p.small
         | snippets.mozilla.com
        p.small
         | webwewant.mozilla.org

      section
        h2.bullet How We Do It &#150; Key Processes
        ul
          li Mostly Kanban With Waterfall-ish Mixed In For Fixed Deadline / Launch Projects
          li Perhaps you should read my <a href="https://blog.mozilla.org/webdev/2013/06/28/kanban-web-productions-lessons-learned/">blog post</a>.
          li Creative Process (We Work With These Folks A Lot):
            ul
              li Currently: PSD -> Revision -> PSD -> Code -> Done
              li Goal to move towards prototype based iterations.

      section
        h2 Key Tools
        p.small
         | <a href="http://clearly.io/">Clearly.io</a> - whose on what?
        p.small
         | <a href="http://bugzilla.mozilla.org/">Bugzilla</a> - what are we doing?         
        p.small
         | <a href="http://kanbanery.com/">Kanbanery</a> - when are we doing it?
        p.small
         | <a href="https://github.com/">Github</a> - code, all public all the time (mostly)
        p.small
         | <a href="http://readthedocs.org/">Read The Docs</a> - documentation
        p.small
         | <a href="http://wiki.mozilla.org/">wiki.mozilla.org</a> - documentation         
        p.small
         | <a href="http://newrelic.com">New Relic</a> - health of applications & performance monitoring
        p.small
         |  <a href="http://travis-ci.org/">Travis</a> & <a href="https://jenkins-ci.org/">Jenkins</a> - continuous integration
        p.small
         | <a href="http://www.google.com/analytics">Google Analytics</a> - traffic
        p.small
         | <a href="https://wiki.mozilla.org/IRC">IRC</a> - communication, bots!

      section
        h2 Our Stack       
        ul      
          li Infra &#150; Currently WebOps, Mozilla Hosted
          li Infra &#150; Moving Towards Docker, Deis, Heroku and AWS
          li Perhaps you should read our <a href="https://docs.google.com/document/d/13VLzaYq6-cJfFhoGDTA4qYZ4X9E4KhM6f9UHnRuB2MM/edit">roadmap</a>. 
          li Code:
             <br>Front End &#150; The Usual JS, HTML, CSS 
             <br>Back End &#150; Python and Django 
             <br>Node &#150; automation, minification, testing, glue

      section
        h2.bullet Teams We Rely On
        p.small WebOps
        p.small UX
        p.small Program & Project Managers
        p.small L10N
        p.small WebQA
        p.small Creative
        p.small Growth Team
        p.small The Internal Mozilla WebDev Community
        p.small Contributors


      section
        h2 Q1 Highlights
        table.nice-table
          tr
            th Product
            th Initiative
          tr
            td  Firefox
            td  Spring Campaign
                <br>Family Page & Navigation
                <br>Hello / What's New / First Run
                <br>FF Android What's New
          tr
            td  Firefox OS
            td  Masterfirefox - Launch and proof of concept for Docker and Deis.           
                <br>MWC Support & Firefox OS Page
                <br>MobilePartners - Ongoing Support
          tr
            td  Mozilla
            td  Smart On
                <br>Shape Of The Web
                <br>Snippet Sec Audit / New Features / Ongoing Support

      section
        h2 Q1 Highlights (Continued)
        table.nice-table  
        table.nice-table
          tr
            th Product
            th Initiative                     
          tr
            td  Internal
            td  Deis / Docker Proof Of Concept Site Launched
                <br>Discussions Across Moz WebDev On AWS Migration/Hosting
                <br>Development of first <a href="https://docs.google.com/a/mozilla.com/document/d/13VLzaYq6-cJfFhoGDTA4qYZ4X9E4KhM6f9UHnRuB2MM/edit?usp=sharing">technical roadmap</a> for team.
                <br>Bedrock (mozilla.org) downtime sparked <a href="https://docs.google.com/document/d/1So3nmMAlMP5cPKjl3C_Zec0kgwQ26w5MFVRmEdj26mk/edit">discussions</a> about WebOps resources and roles.
      section
        h2.bullet Q1 Takeaways
          ul
            li Spring campaign plan was not in sync with the reality of FF product development.
            li L10N - we are stressing that community.
            li WebDev across Org in flux - Teams developing multiple solutions.
            li WebOps challenged, high turnover, resource constrained.
            li Shape of The Web - much stricter guidance and oversight needed when working with 3rd parties.
            li Engagement engineering benefits from prioritizing engineering goals alongside marketing goals.


      section
        h2 Q2 Overview
        table.nice-table
          tr
            th Product
            th Initiative
          tr
            td  Firefox
            td  Spring Campaign Launch and Followup 
                <br>Everything From Jenn Bertsch's Slides (iOS, Content Redesign)
                <br>Support Growth Team Tactics & Implementation
          tr
            td  Firefox OS
            td  None at this time.
          tr
            td  Mozilla
            td  Shape Of The Web Support / Long Term Plan
                <br>Support Smart On Series Development
                <br>Pay Down Technical Debt - Mozilla.org.
          tr
            td  Internal
            td  Finalize Infra plan and begin rollout with IT and Cloud Services.
                <br>Provide expertise for CRM and Snippet projects. 
                <br>Prototyping process with creative outlined.                
                <br>Plan for PHX1 Exit (this could be big).
                <br>Roll Out Front End Testing Framework.    
                <br>Firefox Affiliates Shutdown Plan & Tasks
                         

      section
        h2.bullet Q2 Challenges
          ul
            li Brand has no staff DevOps positions. 
            li WebOps platform not clear, or at least not communicated clearly yet.
            li PHX1 Exit Could Be Disruptive
            li PMMS - Communication / Planning / Goal Setting
            li Balancing new projects / mantaining existing properties / internal initiatives.
            li Balancing community and Mozilla values with the needs of our stakeholders.
        
      section
        h2.bullet Asks
          ul
            li Deep dive retrospective into spring campaign & product development &#150; apply lessons to fall campaign.
            li Work with L10N team on improving things (Offsite).
            li Budget for paid DevOps support (cheap).
            li Empower individuals to take ownership and make decisions. Push decision making "out" not "up". 
                          
      section
        h2 That is all.

    script(src='build/build.js')
