doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Intro To Engagement Engineering

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Intro To Engagement Engineering
        h2 May 2015

      section
        h2 key objectives and measurements
        pre
          | number of relationships (what is our teams relationship to This)
          | here are how we do that
          | beautiful and latest and greatest tech
          | frame q1 and q2
          | 4 slides total

      section
        h2 Our Team & Structure
        pre
          | who we are / skills / expertise / consultants
          | team Structure
          | responsibilites
          | relationship between us and rest of org
          | history - webprod to engagement Engineering

      section
        h2 Key Tools And Process
        pre
          | kanban github bugzilla etc what we code in django etc
          | deis & docker

      section
        h2 Q1 Overview
        <a href="https://docs.google.com/presentation/d/1EVl-oEgmAZQPgJFFiLa7wTxfM3gcEjwXudyUN82e7X4/edit#slide=id.g9e7b4f7a6_0_49">see slide</a>
        pre
          | deis & docker  
          | the bright spots "what worked", what didn't, where the
          | team landed on objectives, what we learned and are taking into 
          | Q2 tech stack, launches, roadmap, spring campaign        
          | roadmap

      section
        h2 Q1 Lessons
        pre
          | Spring Campaign, Shape of the web,             

      section
        h2 Q2 Overview & Q2 Key Initiatives
        <a href="https://docs.google.com/presentation/d/1EVl-oEgmAZQPgJFFiLa7wTxfM3gcEjwXudyUN82e7X4/edit#slide=id.g9e7b4f7a6_0_49">see slide</a>
        pre
          | objectives and measures
          | fashion summary + narrative  

      section
        h2 Challenges
        pre
          | key challenges the rest of the org can help us with

      section
        h2 Asks
        pre
          | Solutions to our problems. Mention L10N


      section
        h2 Asks
        pre
          | Things that are coming --- CRM, in product messaging,           


                    
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
